.background-color-about-me {
    background-color: #C8E6C9 !important;
    margin: 8px;
    height: 100%;
}

#created_content {
    height: 100%;
}

section {
    height: 100%;
}

.header, .footer {
    padding: 8px 24px;
}

.footer {
    text-align: right;
}

div.fullbleed {
    height: 100%;
    background-color: white
}

.header {
    background-color: #00e5ff
}