<style>
    md-grid-list {
        margin: 8px;
    }

    .gray {
        background: #ffff8d;
    }

    .green {
        background: #b9f6ca;
    }

    .yellow {
        background: #ffff8d;
    }

    .blue {
        background: #84ffff;
    }

    .purple {
        background: #b388ff;
    }

    .red {
        background: #ff8a80;
    }

    md-grid-tile {
        transition: all 400ms ease-out 50ms;
    }

    .md-grid-tile-respnsive {
        max-height: 2% !important;
        max-width: 100% !important;
    }

    .md-icon-grid {
        color: #000000;
        width: 50%;
        height: 50%;
        max-width: 50%;
        max-height: 50%;
    }
</style>
<div ng-controller="homeController">
    <md-grid-list
            md-cols-sm="4" md-cols-md="2" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="2:3"
            md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile class="gray md-grid-tile-respnsive"
                      md-rowspan="3" md-colspan="2" md-colspan-sm="1">
            <md-icon class="md-icon-grid" md-svg-icon="../resources/svg/racer.svg"
                     style="color: #000000"></md-icon>
            <md-grid-tile-footer class="purple">
                <h3>#1: (3r x 2c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="red md-grid-tile-respnsive"
                      md-rowspan="2" md-colspan="2" md-colspan-sm="1">
            <md-icon class="md-icon-grid" md-svg-icon="../resources/svg/racer.svg"
                     style="color: #000000"></md-icon>
            <md-grid-tile-footer class="purple">
                <h3>#5: (2r x 2c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="green md-grid-tile-respnsive">
            <md-icon class="md-icon-grid" md-svg-icon="../resources/svg/racer.svg"
                     style="color: #000000"></md-icon>
            <md-grid-tile-footer class="purple">
                <h3>#2: (1r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="yellow md-grid-tile-respnsive">
            <md-icon class="md-icon-grid" md-svg-icon="../resources/svg/racer.svg"
                     style="color: #000000"></md-icon>
            <md-grid-tile-footer class="purple">
                <h3>#3: (1r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="blue md-grid-tile-respnsive"
                      md-rowspan="2">
            <md-icon class="md-icon-grid" md-svg-icon="../resources/svg/racer.svg"
                     style="color: #000000"></md-icon>
            <md-grid-tile-footer class="purple">
                <h3>#4: (2r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="purple md-grid-tile-respnsive"
                      md-rowspan="2">
            <md-icon class="md-icon-grid" md-svg-icon="../resources/svg/racer.svg"
                     style="color: #000000"></md-icon>
            <md-grid-tile-footer>
                <h3>#6: (2r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

    </md-grid-list>
</div>