<style>
    .div-startup {
        text-align: center;
    }

    .text-startup {
        color: darkblue; text-align: center;
    }

    .element-event-start {
        width: 150px !important;
        height: 150px !important;
        max-width: 70% !important;
        max-height: 70% !important;
    }

</style>

<div ng-controller="defaultController" class="div-startup">
    <md-button class="md-primary md-fab md-button element-event-start" ng-click="go('/home')">
        <md-icon class="element-event-start" md-svg-icon="../resources/svg/iconmonstr-disk-icon.svg"></md-icon>
    </md-button>
</div>
<div>
    <h1 class=".md-display-4 text-startup"> Welcome to my experiment with Material Design</h1>
</div>