<item-page color="blue" title="About experience">
    <shadow-text elevation="16">
        <image-content src="assets/education/privatbank.jpg">
            <div>
                <span>Position:</span>
                Junior Java Developer
            </div>
            <div>
                <span>Responsibilities:</span>
                Developer, Tester, Systems architect
            </div>
            <div>
                <span>Time Work:</span>
                March 2013 – September 2014 (1 year 7 month)
            </div>
            <div style="margin-top: 3%">
                todo works task
            </div>
        </image-content>
    </shadow-text>

</item-page>


