<div class="fullbleed">

    <section class="layout vertical">

        <div class="header paper-font-title blue">
            <paper-fab icon="home" title="arrow-forward" tabindex="0" ng-click="home(1000, callbackHome)"></paper-fab>
            <span>About experience</span>
        </div>

        <paper-dialog-scrollable class="flex paper-font-body1">

            <p>todo text</p>

        </paper-dialog-scrollable>

        <div class="footer paper-font-subhead">
            Maxim Galich
        </div>

    </section>

</div>