<item-page color="yellow" title="My contact">

    <style>

        .social-image {
            margin-right: 5%
        }

    </style>

    <div>
        <shadow-text elevation="16">
            <table style="padding: 1%" class="vertical-section">

                <tr>
                    <td>
                        <iron-icon icon="communication:location-on"></iron-icon>
                    </td>
                    <td>Ukraine, Mykolaiv region, Mykolaiv</td>
                </tr>

                <tr>
                    <td>
                        <iron-icon icon="communication:call"></iron-icon>
                    </td>

                    <td>+380939964423</td>
                </tr>

                <tr>
                    <td>
                        <iron-icon icon="communication:email"></iron-icon>
                    </td>

                    <td>natrix82567@gmail.com</td>
                </tr>

                <tr>
                    <td>
                        <iron-icon src="assets/contact/skype.svg"></iron-icon>
                    </td>

                    <td>natix46</td>
                </tr>
            </table>
        </shadow-text>

        <shadow-text elevation="4">
            <div style="text-align: center">
            <span class="social-image">
                <a href="https://www.facebook.com/profile.php?id=100007233314770">
                    <img src="../app/assets/contact/facebook.svg" class="image">
                </a>
            </span>
            <span class="social-image">
                <a href="https://twitter.com/natrix82567">
                    <img src="../app/assets/contact/twitter.svg" class="image">
                </a>
            </span>
            <span class="social-image">
                <a href="https://www.linkedin.com/profile/view?id=214666229&trk=nav_responsive_tab_profile">
                    <img src="../app/assets/contact/in.svg" class="image">
                </a>
            </span>
            <span class="social-image">
                <a href="#">
                    <img src="../app/assets/contact/google.svg" class="image">
                </a>
            </span>
            </div>
        </shadow-text>

    </div>


</item-page>


