<item-page color="yellow" title="My contact">
    <div>
        <p>Ukraine</p>

        <p>Mykolaiv region, Mykolaiv</p>

        <p>Index: 5400</p>

        <p>Skype: natix46</p>

        <p>Telephone: +38093-99-64-423</p>

        <p>Email: natrix82567@gmail.com</p>

        <p>You can reach me at the following links</p>

        <div style="text-align: center">
            <span style="margin-right: 5%">
                <a href="https://www.facebook.com/profile.php?id=100007233314770">
                    <img src="../app/assets/contact/facebook.svg" class="image">
                </a>
            </span>
            <span style="margin-right: 5%">
                <a href="https://twitter.com/natrix82567">
                    <img src="../app/assets/contact/twitter.svg" class="image">
                </a>
            </span>
            <span style="margin-right: 5%">
                <a href="https://www.linkedin.com/profile/view?id=214666229&trk=nav_responsive_tab_profile">
                    <img src="../app/assets/contact/in.svg" class="image">
                </a>
            </span>
            <span style="margin-right: 5%">
                <a href="#">
                    <img src="../app/assets/contact/google.svg" class="image">
                </a>
            </span>
        </div>

    </div>


</item-page>


