<item-page color="yellow" title="My contact">

    <section class="layout vertical">

        <paper-dialog-scrollable class="flex paper-font-body1">

            <p>At now moment I live in Ukraine, Mykolaiv region, city Mykolaiv</p>
            <p>My contacts</p>
            <p>Telephone: +38093-99-64-423</p>
            <p>Email: natrix82567@gmail.com</p>

            <p>You can reach me at the following links</p>

            <p class="paper-font-subhead">

                <a href="https://twitter.com/natrix82567">
                    <img src="../app/assets/contact/twitter.svg" class="image">
                </a>

                <a href="https://twitter.com/natrix82567">
                    <img src="../app/assets/contact/twitter.svg" class="image">
                </a>

                <a href="https://twitter.com/natrix82567">
                    <img src="../app/assets/contact/twitter.svg" class="image">
                </a>

                <a href="https://twitter.com/natrix82567">
                    <img src="../app/assets/contact/twitter.svg" class="image">
                </a>

            </p>

        </paper-dialog-scrollable>

    </section>

</item-page>


